.tasks {
  padding: 1rem 1.204rem;
  width: 100%;
  background: var(--gray-500);
  border-radius: 0.5rem;
  margin-bottom: 0.75rem;

  display: flex;
  justify-content: space-between;
  align-items: flex-start;

}

.tasks label {
  cursor: pointer;
  font-size: 0.875rem;
  color: var(--gray-100);

  display: flex;
  justify-content: center;
  align-items: center;
}

.tasks input[type=checkbox] {
  display: none;
}

.tasks input[type=checkbox] + label:before {
  content: "";
  display: inline-block;
  width: 1.5rem;
  height: 1.5rem;
  line-height: 1.225rem;
  margin-right: 1.204rem;

  border-radius:50%;
  background: transparent;
  border: 2px solid var(--blue);
}

.tasks input[type=checkbox]:checked + label:before {
  content: "\2713";
  display: inline-block;
  text-align: center;
  width: 1.5rem;
  height: 1.5rem;
  line-height: 1.225rem;
  word-break: normal;
  margin-right: 1.204rem;

  border-radius:50%;
  background: var(--purple-dark);
  border: 2px solid var(--purple-dark);
} 

.tasks input[type=checkbox]:checked + label p {
  text-decoration: line-through;
  color: var(--gray-300);
}

.tasks button {
  background: transparent;
  border: none;
  cursor: pointer;
}

.tasks button svg{
  color: var(--gray-300);
}